body {
  margin: 0;
  padding: 0;
}

/* Navbar Area */
div .brand-name a {
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.search-bar input,
button {
  height: 60px;
}

.search-bar input {
  border-radius: 10px 0 0 10px;
}

.search-bar button {
  border-radius: 0 10px 10px 0;
  width: 120px;
  background-color: #de0000;
  font-weight: bold;
  color: whitesmoke;
}

/* Search Result */
.search-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 50px;
  margin-top: 120px;
}

.search-result {
  width: 19rem;
}

/* Notification message styles */
#notification {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  text-align: center;
  z-index: 1;
}

#notification.show {
  display: block;
}